includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - app
        - database
        - routes
        - tests

    # The level 9 is the highest level
    level: 6

    excludePaths:
        - ./*/*/FileToBeExcluded.php
        - ./vendors/*

    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
